# Prediction of sales

### Problem Statement
[The dataset](https://drive.google.com/file/d/1B07fvYosBNdIwlZxSmxDfeAf9KaygX89/view?usp=sharing) represents sales data for 1559 products across 10 stores in different cities. Also, attributes of each product and store are available. The aim is to build a predictive model and determine the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### In following weeks, we will explore the problem in following stages:

1. **Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome**
2. **Data Exploration – looking at categorical & continuous feature summaries and making inferences about the data**
3. **Data Cleaning – imputing missing values in the data and checking for outliers**
4. **Feature Engineering – modifying existing variables and/or creating new ones for analysis**
5. **Model Building – making predictive models on the data**
---------

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_data = pd.read_csv('regression_exercise_feat.csv')
df_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df_data.shape

(8523, 12)

In [4]:
df_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [5]:
df_data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [29]:
df_data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Item_Weight_missing          0
Outlet_Size_missing          0
Broad_Item_Type              0
Year_Op                      0
dtype: int64

In [7]:
df_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [8]:
df_data['Item_Weight_missing'] = 0

df_data.loc[df_data['Item_Weight'].isnull(), 'Item_Weight_missing'] = 1

In [9]:
df_data['Outlet_Size_missing'] = 0

df_data.loc[df_data['Outlet_Size'].isnull(), 'Outlet_Size_missing'] = 1

In [10]:
df_data['Outlet_Size'] = df_data['Outlet_Size'].fillna('unknown')

## 4. Feature Engineering

1. Resolving the issues in the data to make it ready for the analysis.
2. Create some new variables using the existing ones.

### Create a broad category of Type of Item

`Item_Type` variable has many categories which might prove to be very useful in analysis. Look at the `Item_Identifier`, i.e. the unique ID of each item, it starts with either FD, DR or NC. If you see the categories, these look like being Food, Drinks and Non-Consumables. 

**Task:** Use the Item_Identifier variable to create a new column

In [11]:
df_data['Item_Identifier']

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [12]:
col_item_id = df_data['Item_Identifier']
broad_item_type = []

for itemid in col_item_id:
    if itemid.startswith('FD'):
        broad_item_type.append('Food')
    if itemid.startswith('DR'):
        broad_item_type.append('Drinks')
    if itemid.startswith('NC'):
        broad_item_type.append('Non-Consumables')

In [13]:
df_data['Broad_Item_Type'] = broad_item_type

In [14]:
df_data[['Item_Identifier', 'Broad_Item_Type']].head()

  Item_Identifier  Broad_Item_Type
0           FDA15             Food
1           DRC01           Drinks
2           FDN15             Food
3           FDX07             Food
4           NCD19  Non-Consumables

In [15]:
df_data.loc[(df_data['Broad_Item_Type'] == 'Food') & (df_data['Item_Weight'].isnull()), 'Item_Weight'] = df_data[df_data['Broad_Item_Type'] == 'Food']['Item_Weight'].mean()
df_data.loc[(df_data['Broad_Item_Type'] == 'Drinks') & (df_data['Item_Weight'].isnull()), 'Item_Weight'] = df_data[df_data['Broad_Item_Type'] == 'Drinks']['Item_Weight'].mean()
df_data.loc[(df_data['Broad_Item_Type'] == 'Non-Consumables') & (df_data['Item_Weight'].isnull()), 'Item_Weight'] = df_data[df_data['Broad_Item_Type'] == 'Non-Consumables']['Item_Weight'].mean()

### Determine the years of operation of a store

**Task:** Make a new column depicting the years of operation of a store (i.e. how long the store exists).

In [16]:
df_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Weight_missing,Outlet_Size_missing,Broad_Item_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0,Food
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,0,0,Drinks
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,0,0,Food
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,unknown,Tier 3,Grocery Store,732.3800,0,1,Food
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,0,0,Non-Consumables

In [17]:
col_year_op = []
today = dt.datetime.now().year
years = df_data['Outlet_Establishment_Year'].values

col_year_op = [today - yr for yr in years]

In [18]:
df_data['Year_Op'] = col_year_op
df_data[['Outlet_Establishment_Year', 'Year_Op']].head()

   Outlet_Establishment_Year  Year_Op
0                       1999       22
1                       2009       12
2                       1999       22
3                       1998       23
4                       1987       34

### Modify categories of Item_Fat_Content

**Task:** There are difference in representation in categories of Item_Fat_Content variable. This should be corrected.

In [19]:
convert = {'LF': 'Low Fat', 'low fat': 'Low Fat', 'reg': 'Regular'}

for i in range(len(df_data)):
    if df_data['Item_Fat_Content'][i] in convert:
        df_data['Item_Fat_Content'][i] = convert[df_data['Item_Fat_Content'][i]]

<ipython-input-19-8e0a1fbde2b7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['Item_Fat_Content'][i] = convert[df_data['Item_Fat_Content'][i]]

In [20]:
set(df_data['Item_Fat_Content'])

{'Low Fat', 'Regular'}

**Task:** There are some non-consumables as well and a fat-content should not be specified for them. Create a separate category for such kind of observations.

In [21]:
df_data.loc[df_data['Broad_Item_Type'] == 'Non-Consumables', 'Item_Fat_Content'] = 'None'

In [22]:
df_data['Item_Fat_Content'].head()

0    Low Fat
1    Regular
2    Low Fat
3    Regular
4       None
Name: Item_Fat_Content, dtype: object

### Numerical and One-Hot Encoding of Categorical variables

Since scikit-learn algorithms accept only numerical variables, we need to **convert all categorical variables into numeric types.** 

- if the variable is Ordinal we can simply map its values into numbers
- if the variable is Nominal (we cannot sort the values) we need to One-Hot Encode them --> create dummy variables

In [23]:
cat_feat = df_data.dtypes[df_data.dtypes == object].index.tolist()
cat_feat

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type',
 'Broad_Item_Type']

In [24]:
df_data[cat_feat].dtypes

Item_Identifier         object
Item_Fat_Content        object
Item_Type               object
Outlet_Identifier       object
Outlet_Size             object
Outlet_Location_Type    object
Outlet_Type             object
Broad_Item_Type         object
dtype: object

In [25]:
df_data_num = df_data.replace({
    'Item_Fat_Content': {'None': 0, 'Low Fat': 1, 'Regular': 2},
#     'Item_Type': {'Baking Goods': 1, 'Breads': 2, 'Breakfast': 3, 'Canned': 4, 'Dairy': 5, 'Frozen Foods': 6, 'Fruits and Vegetables': 7, 'Hard Drinks': 8, 'Health and Hygiene': 9, 'Household': 10,
#                     'Meat': 11, 'Seafood': 12, 'Snack Foods': 13, 'Soft Drinks': 14, 'Starchy Foods': 15, 'Others': 16},
    'Outlet_Size': {'unknown': 0, 'Small': 1, 'Medium': 2, 'High': 3},
    'Outlet_Location_Type': {'Tier 1': 1, 'Tier 2': 2, 'Tier 3': 3},
#     'Outlet_Type': {'Supermarket Type1': 1, 'Supermarket Type2': 2, 'Supermarket Type3': 3, 'Grocery Store': 4},
#     'Broad_Item_Type': {'Drinks': 1, 'Food': 2, 'Non-Consumables': 3}
})

In [26]:
cat_feat = df_data_num.dtypes[df_data_num.dtypes == object].index.tolist()
df_dummy = pd.get_dummies(df_data_num[cat_feat])
df_dummy

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Broad_Item_Type_Drinks,Broad_Item_Type_Food,Broad_Item_Type_Non-Consumables
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8519,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
8520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
8521,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8522,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0

**All variables should be by now numeric.**

---------
### Exporting Data

**Task:** You can save the processed data to your local machine as a csv file.

In [27]:
df_data_num.to_csv('data_num.csv', index = False)

In [28]:
df_dummy.to_csv('dummy.csv', index = False)